.gambler(data-gambler-id=gambler._id.toString())
  h3= gambler.name
  img(src='#{gambler.photo}')
  h3 Cash: $
    span.cash #{gambler.cash}
  h3 Spouse: #{gambler.spouse.name}
  img(src='#{gambler.spouse.photo}')
  h3 Assets
    each asset in gambler.assets
      .asset
        img(src='#{asset.photo}')
        .assetInfo
          .assetName= asset.name
          .assetValue $#{asset.value}
  p Wins: #{gambler.results.wins}
  p Losses: #{gambler.results.losses}
  p: a(href='/gamblers/#{gambler._id}/assets/new') Add an asset
