.gambler(data-gambler-id=gambler._id.toString())
  h3= gambler.name
  img(src='#{gambler.photo}')
  h3 Cash: $#{gambler.cash}
  h3 Spouse: #{gambler.spouse.name}
  img(src='#{gambler.spouse.photo}')
  h3 Assets
    each asset in gambler.assets
      .asset
        img(src='#{asset.photo}')
          .assetInfo
            p= asset.name
            p $#{asset.value}
  p Wins: #{gambler.results.wins}
  p Losses: #{gambler.results.losses}

